{
  "extends": "airbnb",
  "plugins": ["jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "linebreak-style": 0
  },
  "parserOptions": { "sourceType": "module" }
}
